/*general*/
html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    height:100%;
    width:100%;
    margin:0;
    padding:0.28em;
}

.app {
    width: 84.32%;
    margin: auto;
    text-align: left;
}

/* application header */
.app-header {
  width: 100%;
  background: #ff6600;
  font-size: 1em;
}

.header-content {
    display: inline-block;
    padding-left: 0.4em;
    font-weight: normal;
  }

/* application content */
.app-content {
  background-color: #F5F4ED;
  padding-top: 10px;
}

.newest-posts {
  padding-left: 10px; 
}

a {
  text-decoration: none;
  color: black;
}

.title-text {
  color: #828282;
  font-size: 10px;
  text-align: right;
}

.domain {
  font-size: 10px;
  cursor: pointer;
}

.domain:hover {
  text-decoration: underline;
}

.count {
    font-size: 15px;
}

.subtext {
  color: #828282;
  font-size: 10px;
  margin-left: 33px;
}

.logo {
  display: inline-block;
  border: solid 0.5px white;
  height: 19px;
  padding-left: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
}

.header-right {
  float: right;
}

.content {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.pass-recovery {
  color: blue;
  text-decoration: underline;
}

.logout-button {
  cursor: pointer;
}

/* Story */
.post {
  padding-bottom: 2px;
}

.app-footer {
  padding-bottom: 30px;
}

.more-button {
  cursor: pointer;
  color: #828282;
  margin-left: 33px;
  padding-left: 10px; 
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ff6600;
  margin: 1em 0;
  padding: 0;
}

.management-container {
  color: #807777;
  font-size: 10pt;
}

.info-banner {
 background: #FFFFA0;
 padding: 0.5em;
}

.story-container {
  padding: 0.5em;
}

.comment {
  padding: 0.5em;
}

.child-comment {
  padding-left: 2.4em;
}

.reply {
  text-decoration: underline;
  font-size: 8pt;
}
