html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0.28em;
}

a {
  text-decoration: none;
  color: black;
}

.app {
    width:84.32%;
    margin: auto;
}

/* application header */
.app-header {
  width: 100%;
  background: #ff6600;
  font-size: 1em;
}

.header-content {
  display: inline-block;
  padding-left: 0.4em;
  font-weight: normal;
  }

.logo {
  display: inline-block;
}

.header-right {
  float: right;
}

.content {
  width: 100%;
  height: 100%;
}

.pass-recovery {
  color: blue;
  text-decoration: underline;
}

/* Story */

.story-container {
  padding-bottom: 20px;
  padding-left: 20px;
}
